.container {
  display: flex;
  
  .left {
    width: 50%;
    display: flex;
    
    app-grades-manager {
      width: 100%;
    }
  }
  .right {
    width: 50%;
    
    app-grade-settings {
      width: 100%;
    }
  }
  app-grades-manager, app-grade-settings {
    height: 100vh;
  }
}
  

  
@media screen and (max-width: 1350px) {
  .container {
    flex-direction: column;
    
    .left, .right {
      width: 100% !important;
    }
    .left {
      flex-direction: column;
  
      app-grades-manager {
        height: 100%;
      }
    }
  }
}